@import "tailwindcss";

/* Sohne Font Faces */
@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Buch-BF663d89cd32e6a.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Kraftig-BF663d89cd37e26.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Halbfett-BF663d89cd2d67b.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Dreiviertelfett-BF663d89ccc5f66.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Fett-BF663d89cca89ff.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne/TestSohne-Extrafett-BF663d89cc9f2c0.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'Sohne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {

  min-width: 320px;
  min-height: 100vh;
  background: #000000;
  overflow-x: hidden;
}

/* Base heading style without aggressive weights/spacing */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;

}

/* Minimal input reset */
input,
button,
select,
textarea {
  font-family: inherit;
}